buoi_4/qlqa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/quanan"
           xmlns="http://www.example.com/quanan"
           elementFormDefault="qualified">

    <!-- Định nghĩa kiểu dữ liệu cho BAN -->
    <xs:element name="BAN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TENBAN" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="SOBAN" type="xs:integer" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="PK_BAN">
            <xs:selector xpath="."/>
            <xs:field xpath="SOBAN"/>
        </xs:key>
    </xs:element>

    <!-- Định nghĩa kiểu dữ liệu cho THANHTOAN -->
    <xs:element name="THANHTOAN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SOHD" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="NGAYLAP" type="xs:date" minOccurs="1" maxOccurs="1"/>
                <xs:element name="TONGTIEN" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="PK_THANHTOAN">
            <xs:selector xpath="."/>
            <xs:field xpath="SOHD"/>
        </xs:key>
    </xs:element>

    <!-- Định nghĩa kiểu dữ liệu cho HOADON -->
    <xs:element name="HOADON">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SOHD" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="NGAYLAP" type="xs:date" minOccurs="1" maxOccurs="1"/>
                <xs:element name="TONGTIEN" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="PK_HOADON">
            <xs:selector xpath="."/>
            <xs:field xpath="SOHD"/>
        </xs:key>
        <xs:keyref name="FK_HOADON_THANHTOAN" refer="PK_THANHTOAN">
            <xs:selector xpath="."/>
            <xs:field xpath="SOHD"/>
        </xs:keyref>
    </xs:element>

    <!-- Định nghĩa kiểu dữ liệu cho MON -->
    <xs:element name="MON">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MAMON" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="TENMON" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="GIA" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
                <xs:element name="HINHANH" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="PK_MON">
            <xs:selector xpath="."/>
            <xs:field xpath="MAMON"/>
        </xs:key>
    </xs:element>

    <!-- Định nghĩa kiểu dữ liệu cho NHANVIEN với ràng buộc Username và Password -->
    <xs:element name="NHANVIEN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MANV" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="TENNV" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="SDT" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="DIACHI" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="GIOITINH" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="USERNAME" type="xs:string">
                    <xs:minLength value="6"/>
                    <xs:maxLength value="50"/>
                </xs:element>
                <xs:element name="PASSWORD" type="xs:string">
                    <xs:minLength value="10"/>
                    <xs:maxLength value="50"/>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="PK_NHANVIEN">
            <xs:selector xpath="."/>
            <xs:field xpath="MANV"/>
        </xs:key>
    </xs:element>

    <!-- Định nghĩa kiểu dữ liệu cho SOLUONG -->
    <xs:element name="SOLUONG">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SOHD" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="MAMON" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="SOLUONG" type="xs:integer" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
        <xs:keyref name="FK_SOLUONG_HOADON" refer="PK_HOADON">
            <xs:selector xpath="."/>
            <xs:field xpath="SOHD"/>
        </xs:keyref>
        <xs:keyref name="FK_SOLUONG_MON" refer="PK_MON">
            <xs:selector xpath="."/>
            <xs:field xpath="MAMON"/>
        </xs:keyref>
    </xs:element>

    <!-- Định nghĩa phần tử gốc QUANAN -->
    <xs:element name="QUANAN">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BAN" minOccurs="5" maxOccurs="unbounded"/>
                <xs:element ref="THANHTOAN" minOccurs="5" maxOccurs="unbounded"/>
                <xs:element ref="HOADON" minOccurs="5" maxOccurs="unbounded"/>
                <xs:element ref="MON" minOccurs="5" maxOccurs="unbounded"/>
                <xs:element ref="NHANVIEN" minOccurs="5" maxOccurs="unbounded"/>
                <xs:element ref="SOLUONG" minOccurs="5" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>