buoi_3 dtd/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://company.com/order"
           xmlns:order="http://company.com/order"
           xmlns:prod="http://company.com/product"
           elementFormDefault="qualified">
    <xs:import namespace="http://company.com/product" schemaLocation="product.xsd"/>

    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="order:order" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <!-- Ràng buộc duy nhất cho id của order trên toàn tài liệu -->
        <xs:unique name="UniqueOrderId">
            <xs:selector xpath="order:order"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

    <xs:element name="order">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="prod:item" maxOccurs="unbounded"/>
                <xs:element name="enrollment" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="itemRef" type="xs:IDREF" use="required"/>
                        <xs:attribute name="status" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="customer" type="xs:string" use="required"/>
            <xs:attribute name="date" type="xs:date" use="required"/>
        </xs:complexType>
        <!-- Ràng buộc duy nhất cho id của item trong mỗi order -->
        <xs:unique name="UniqueItemIdPerOrder">
            <xs:selector xpath="prod:item"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>
</xs:schema>